* {
	box-sizing: border-box;
}
body {
	background-color: #e6e6fa;
}
main {
	width: 95%;
	margin:10px auto;
}
.clear {
	clear: both;
}
header {
	position: relative;
}
.menu-header {
	display: inline-block;
	width: 100%;
	background-color: #ffffff;
}
.menu-header img{
	height: 50px;
}
.menu-header-right {
	float: right;
	display: inline-block;
}
.icon {
	float: left;
	margin-right: 75px;
}
.custom-select {
	width: 200px;
	margin-left: 10px;
}
.menu-header-right button {
	margin: 5px 10px auto 10px;
}
input[type=text] {
	float: left;
	background-image: url('../images/search.png');
	background-repeat: no-repeat;
	background-size: 25px;
	padding-left: 40px;
	margin-top: 10px;
}

.button-header {
	position: absolute;
	bottom: 10px;
	right: 10px;
}


.dropmenu {
	display: none;
}

nav {
	margin-top: 20px;
}
.menu-1 div {
	width: 100%;
	display: inline-block;
}
.menu-1-left{
	float: left;
	width: 50%;
}

.menu-1 div ul {
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
	background-color: #ffffff;
}
.menu-1 li {
	width: 20%;
	float: left;
	border-right: 1px solid #000000;
}
.menu-1 li a {
	display: block;
	color: #000000;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
	font-weight: 500;
}
.menu-1 li a:hover {
	color: #000080;
	background-color: #c0c0c0;
}
.menu-2 div {
	width: 100%;
	display: inline-block;
}
.menu-2-left{
	float: left;
	width: 50%;
}
.menu-2 div ul {
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
	background-color: #000080;
}
.menu-2 li {
	width: 25%;
	float: left;
	border-right: 1px solid #ffffff;
}
.menu-2 li a {
	display: block;
	color: #ffffff;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
	font-weight: 500;
}
.menu-2 li a:hover {
	color: #14e19e;
}
.menu-2-right li:last-child, .menu-1-right li:last-child {
	border: none;
}
.slide img {
	margin-top: 20px; 
	width: 100%;
}
.col-lg-3 img {
	width: 100%;
}
.picture {
	margin-top: 20px;
	padding: 10px;
	background-color: #ffffff;
}
.content {
	margin-top: 20px;
	padding: 10px;
	background-color: #ffffff;
}
.feature-event {
	list-style: none;
	padding-left: 10px;
}
.feature-event li p {
	font-size: small;
}
.museum ul li {
	color: #007bff;
}
.col-7 p {
	font-size: small;
}
.col-lg-3 .row {
	margin-top: 5px;
}

@media (max-width: 1199px){

}

@media (max-width: 991px){
	.menu-header-right {
		float: none;
		display: inline-block;
		width: 100%;
	}
	.menu-header-right .search {
		float: right;
	}
	.icon {
		margin-left: 10px;
	}
	header .logo{
		width: 30%;
	}
	.menu-1-left {
		display: inline-block;
		width: 100%;
	}
	.menu-1-left li {
		width: 20%;
	}
	.menu-1-right {
		display: inline-block;
		width: 100%;
	}
	.menu-1-right li {
		width: 20%;
	}
	.menu-2-left {
		display: inline-block;
		width: 100%;
	}
	.menu-2-left li {
		width: 25%;
	}
	.menu-2-right {
		display: inline-block;
		width: 100%;
	}
	.menu-2-right li {
		width: 25%;
	}

	.connect img {
		width: 50%;
	}
		.button-header {
		bottom: 0;
		right: 0;
	}
	.menu-1-left li:last-child,.menu-2-left li:last-child {
		border: none;
	}
	.picture {
		padding: 30px;
	}

}

@media (max-width: 767px){
	.connect img {
		width: 50%;
	}
	.icon {
		margin-right: 75px;
	}

	.dropmenu {
		display: inline-block;
		position: relative;
		width: 100%;
		margin-top: 10px;
	}
	.dropdown-menu-2 {
		position: absolute;
		right: 0;
		top:0;
	}
	.menu {
		display: none;
	}
	.picture {
		padding: 50px;
	}
}

@media (max-width: 575px){
	.menu-header-right .search {
		float: left;
	}
}